/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}


li{
    color: white;
    display: inline-block;
    padding-right: 20px;
}

.logo{
    width: 150px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.align-content-center{
    align-content: center;
}

.wrap{
    flex-wrap: wrap;
}

/* Header */
header{
    background-color: rgb(255, 123, 0);
}

nav{
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Main */

.card-wrapper{
    width: 1200px;
    padding: 20px 20px;
}

.card{
    width: calc(1200 / 3);
}